/* 公共样式 */
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* 去除超链接的下划线 */
a{
    text-decoration: none;
    color: #333;
    display: block;
}

body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    min-width: 1226px;
}

.w{
    width: 1226px;
    /* 设置居中 */
    margin: 0 auto;
}