/* 主页index.html的样式表 */

/* 顶部导航栏的容器 */
.top-bar-wrapper{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}

.topbar a{
    font-size: 12px;
    color: #b0b0b0;
}

.topbar a:hover{
    color: #fff;
}

/* 设置分隔线 */
.topbar .line{
    font-size: 12px;
    color: #424242; 
    margin: 0 8px;
}


/* 设置左侧导航栏浮动 */
.service, .topbar li{
    float: left;
}

.app{
    position: relative;
}

/* 设置小三角 */
.app::after{
    display: none;
    content: '';
    /* 开启绝对定位 */
    position: absolute;
    /* display: block; */
    width: 0px;
    height: 0px;
    /* 设置四个方8向的边框 */
    border: 8px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 设置下边框颜 色 */
    border-bottom-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app:hover .qrcode{
    height: 148px;
}

.app:hover::after{
    display: block;
}

.app .qrcode{
    /* display: none; */
    position: absolute;
    width: 124px;

    /* height: 148px; */
    height: 0;
    overflow: hidden;

    left: -40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3) ;
    line-height: 1;
    text-align: center;
    background-color: #fff;

    transition: height 0.3s;
    z-index: 9999;
}

/* 设置二维码图片 */
.app .qrcode img{
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}

/* 设置二维码文字 */
.app .qrcode span{  
    font-size: 14px;
    color: #000;
}

/* 设置右侧导航栏浮动 */
.user-info, .shop-cart{
    float: right;
}

.shop-crat{
    margin-left: 25px;
}

.shop-cart .shop{
    width: 120px;
    background-color: #424242;
    text-align: center;
}

/* 设置购物车移入样式 */
.shop-cart:hover .shop{
    background-color: #fff;
    color: #ff6700; 
    height: 41px;
}

.shop-cart i{
    margin-right: 2px;
    border-bottom: 10px;
}

.shop{
    position: relative;
}

/* 设置购物车下拉框 */
.shop .cart{
    /* display: none; */
    position: absolute;
    width: 357px;

    /* height: 133px;   */
    height: 0;
    overflow: hidden;

    left: -237px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    
    transition: height 0.3s;

    z-index: 9999;
}

.shop:hover .cart{
    height: 133px;
}

.shop:hover::after{
    display: block;
}

/* 设置购物车下拉框字体 */
.shop span{
    display: block;
    padding-top: 45px;
    color: #000;
}

/* -------------------------------------头部------------------------------------- */

/* --------------------logo------------------ */

.header-wrapper{
    position: relative;
    /* background-color: yellow; */
}

.header{
    height: 100px;
    background-color: #fff;
    /* background-color: red; */
}

.header .logo{
    position: relative;
    float: left;
    margin-top: 22px;
    width: 55px;
    height: 55px; 
    overflow: hidden;
}

.header .logo a{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    background-color: #ff6700;
    background-image: url("../img/mi-logo.png");
    /* 使文字居中 */
    background-position: center;
    transition: left 0.2s;
}

.header .logo:hover .mi{
    left: 55px;
}

.header .logo .home{
    position: absolute;
    left: -55px;
    background-image: url("../img/mi-home.png");
}

.header .logo:hover .home{
    left: 0px;
}


/* --------中间导航条--------- */

.header .nav-wrapper{
    float: left;
    margin-left: 7px;
    position: relative;
}

.header .nav{
    /* width: 850px; */
    height: 100px;
    /* background-color: aquamarine; */
    line-height: 100px;
    padding-left: 58px;
    /* background-color: #bfa; */
}

/* 设置导航条中的li */
.nav-wrapper .nav > li{
    float: left;
}


/* -----左侧导航菜单----- */

.all-goods-wrapper{
    position: relative;
}

.left-menu{
    width: 234px;
    height: 420px;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    left: -120px;
    padding: 20px 0;
    z-index: 999;
}

ul .left-menu li a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: #fff;
    padding: 0 30px;
    margin-right: 0;
    font-size: 14px;
}

ul .left-menu li a:hover{
    color: #fff;
    background-color: #ff6700;
}

.left-menu li a i{
    float: right;
    line-height: 42px;
}

/* ---左侧导航end------ */


.nav-wrapper  li a{
    font-size: 16px;
    margin-right: 20px;
}

.nav-wrapper li a:hover{
    color: #ff6700;
}

/* 隐藏 “全部商品分类” */
.all-goods{
    visibility: hidden;
}

/* ------中间导航下拉框------ */
.nav .goods-info{
    position: absolute;
    /* height: 228px; */
    width: 100%;
    overflow: hidden;
    /* background-color: aqua; */
    /* border: 1px solid rgba(224, 224, 224);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1); */

    background-color: #fff;
    top: 100px;
    left: 0;
    z-index: 9999;
}

.nav .show-goods:hover ~ .goods-info,
.goods-info:hover{
    height: 228px;
    border: 1px solid rgba(224, 224, 224);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    /* background-color: aqua; */
}


/* ---------搜索框--------- */

.search-wrapper{
    width: 296px;
    height: 50px;
    margin-top: 25px;
    float: right;
    background-color: #bfa;
}

.search-wrapper .search-inp{
    float: left;
    width: 222px;
    height: 50px;
    border: none;
    padding: 0;
    border: 1px solid rgb(224, 224, 224);
    padding: 0 10px;
    font-size: 16px;
    outline: none;
}

.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + .search-btn{
    border-color: #ff6700;
}

.search-wrapper .search-btn:hover{
    border: none;
    background-color: #ff6700;
    color: #fff;
}

.search-wrapper .search-btn{
    float: left;
    width: 52px;
    height: 52px;
    font-size: 18px;
    border: none;
    padding: 0;
    background-color: #fff;
    color: #616161;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}



/* -----------------------------banner----------------------------- */

.banner{
    position: relative;
    height: 460px;
}

.banner-wrapper{
    position: relative;
    height: 460px;
}

.banner .img-list li{
    position: absolute;
}

.banner img{
    height: 460px;
    vertical-align: top;
}


/* -----导航点----- */

.pointer{
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: 22px;
    right: 35px;
}

.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2.5px solid rgba(224, 224, 224, .4);
    background-color: rgba(0, 0, 0, .4);
    margin-right: 6px;   
}

.pointer a:hover,
.pointer a.active{
    border-color: rgba(0, 0, 0, .4);
    background-color: rgba(224, 224, 224, .4);
}

/* --两个箭头-- */

.prev-next a{
    position: absolute;
    width: 41px;
    height: 69px;
    background-image: url("../img/icon-slides.png");
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.prev-next .prev{
    left: 234px;
    background-position: -84px 0;
}

.prev-next .next{
    right: 0;
    background-position: -125px 0;
}

.prev-next .prev:hover{
    background-position: 0 0;
}

.prev-next .next:hover{
    background-position: -42px 0;
}   


/* ----------------------------------固定悬浮条---------------------------------------------- */
.back-top{
    width: 26px;
    height: 206px;
    background-color: aquamarine;
    position: fixed;
    bottom: 100px;

    right: 50%;
    margin-right: -639px;
}