/* 主页index.html的样式表 */

/* -------------------顶部导航条------------------------ */

/* 顶部导航条的容器 */
.top-bar-wrapper{
    /* 设置宽度全屏 */
    width: 100%;
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: #333;   
}

/* 设置超链接颜色 */
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
}

/* 设置超链接移入的效果 */
.topbar a:hover{
    color: #fff;
}

/* 设置中间分隔线 */
.topbar .line{
    color: #424242;
    font-size: 12px;
    margin: 0 8px;
}

/* 设置左侧导航栏 */
.service, .topbar li{
    float: left;
}

.app{
    position: relative;
}

/* 设置app下的小三角 */

.app::after{
    content: '';
    display: none;
    /* 开启绝对定位 */
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 单独设置下边框的颜色 */
    border-bottom-color: #fff;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
}

.app:hover .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}

/* 设置下载app的下拉 */
.app .qrcode{
    /* display: none; */
    position: absolute;
    left: -40px;
    width: 124px;
    /* height: 148px; */
    height: 0;
    overflow: hidden;
    line-height: 1px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);

    /* transition   用于为样式设置过渡效果 */
    transition: height 0.3s;
}

/* 设置二维码图片 */
.app .qrcode img{
    width: 90px;
    margin: 17px; 
}

/* 设置二维码下方的文字 */
.app .qrcode span{
    font-size: 14px;
    color: #000;
}

/* 设置右侧导航栏 */
.shop-cart, .user-info{
    float: right;
}

.shop-cart{
    margin-left: 25px;
}

/* 设置购物车 */
.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}

.shop-cart:hover a{
    background-color: #fff;
    color: #ff6700;
}

.shop-cart i{
    margin-right: 2px;
}

/* ------------------头部-------------------- */
/* ----------头部logo-------- */

/* 设置中间的header */

.header-wrapper{
    /* 中间导航条的下拉框参考header-wrapper定位 */
    position: relative;
    /* background-color: red; */
}

.header{
    height: 100px;
    /* background-color: yellow; */
}

/* 设置logo的h1 */
.header .logo{
    position: relative;
    float: left;
    margin-top: 22px;
    width: 55px;
    height: 55px;
    overflow: hidden;
    /* 隐藏logo中的文字 */
    text-indent: -9999px;
    line-height: 1px;
}

/* 统一设置logo的超链接 */
.header .logo a{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    background-color: #ff6700;
    background-image: url(../img/mi-logo.png);
    background-position: center;
    transition: left 0.3s;
}

/* 设置home图片 */
.header .logo .home{
    left: -55px;
    background-image: url(../img/mi-home.png);
}

/* 设置鼠标移入之后,两个图片的位置 */
.header .logo:hover .mi{
    left: 55px;
}

.header .logo:hover .home{
    left: 0;
}


/* ----------中间导航条-------- */

.header .nav-wrapper{
    float: left;
    margin-left: 7px;
}   


.header .nav{
    height: 100px;
    /* 使文字在父元素中居中 */
    line-height: 100px;
    padding-left: 58px;
}

/* 设置导航条中的li */
.nav > li{
    float: left;
}

/* ----左侧导航菜单--- */

.all-goods-wrapper{
    position: relative;
}

.left-menu{
    width: 234px;
    height: 420px;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    z-index: 999;
    left: -120px;
    line-height: 1;
    padding: 20px 0;
}

ul .left-menu li a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: #fff;
    margin-right: 0;
    padding: 0 30px;
    font-size: 14px;
}

ul .left-menu li a:hover{
    color:#fff;
    background-color: #ff6700;
}

.left-menu a i{
    float: right;
    line-height: 42px;
}

/* ----左侧导航end--- */

.nav-wrapper li a{
    font-size: 16px;
    margin-right: 20px;
}

.nav-wrapper li a:hover{
    color: #ff6700;
}

/* 隐藏全部商品 */
.all-goods{
    /* 不能用，此方法全部商品不占据页面位置
    display: none; */

    visibility: hidden;
}

/* ------弹出层------ */

.nav .goods-info{
    position: absolute;
    /* height: 228px; */
    height: 0;
    
    width: 100%;
    /* background-color: aquamarine; */

    /* border-top: 1px solid rgba(224, 224, 224);
    box-shadow: 0 5px 2px rgba(0, 0, 0, .2); */
    top: 100px;
    left: 0;
    transition: height 0.3s;
    background-color: #fff;
    overflow: hidden;
    z-index: 9999;
}

.nav .show-goods:hover ~ .goods-info,
.goods-info:hover{
    height: 228px;
    border-top: 1px solid rgba(224, 224, 224);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}



/* ------搜索框------ */

.search-wrapper{
    width: 296px;
    height: 50px;
    /* background-color: #bfa; */
    float: right;
    margin-top: 25px;
}


.search-wrapper .search-inp{
    box-sizing: border-box;
    /* 通过浮动去除输入框与搜索按钮之间的缝隙 */
    float: left;
    /* input里默认存在padding */
    width: 224px;
    padding: 0;
    border: none;
    height: 50px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid rgba(224, 224, 224);
    /* 去除轮廓线 */
    outline: none;
}

/* 设置input鼠标移入houdexioaguo */
.search-wrapper .search-inp:hover,
.search-wrapper .search-btn:hover + .search-inp{
    border-color: #b1b1b1;
}

/* 设置input获取焦点后的样式 */
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + .search-btn{
    border-color:#ff6700;
}

.search-wrapper .search-btn{
    /* 通过浮动去除输入框与搜索按钮之间的缝隙 */
    float: left;
    height: 50px;
    /* 默认bix-sizing=border-box,即height width设置的值为内容区内边距边框的总大小 */
    width: 52px;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #616161;
    font-size: 18px;
    border: 1px solid rgba(224, 224, 224);
    border-left: none;
}

.search-wrapper .search-btn:hover{
    background-color: #ff6700;
    color: #fff;
    /* border-color: #ff6700; */
    border: none;
}



/* ------------------------banner----------------------- */

.banner{
    position: relative;
    /* 避免banner高度塌陷 */
    height: 460px;
}

.banner .img-list li{
    position: absolute;
}

.banner img{
    /* height: 460px;  */
    width: 100%;
    vertical-align: top;
}

/* 设置五个点 */
.pointer{
    position: absolute;
    bottom: 22px;
    right: 35px; 
}

.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    margin-left: 6px;
}

.pointer a:hover,
.pointer a.active{
    border-color: rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
}

/* 设置两个箭头 */
.prev-next a{
    width: 41px;
    height: 69px;
    background-image: url(../img/icon-slides.png);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.prev-next .prev{   
    left: 234px;
    background-position: -84px 0;
}

.prev-next .next{
    right: 0;
    background-position: -124px;
}

.prev-next .prev:hover{
    background-position: 0;
}

.prev-next .next:hover{
    background-position: -42px;
}